body {
    text-align: center;
    margin: 40px;
}

#pageBox {
margin: auto;
}

#welcomeBox {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#messageBox {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mainFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#mainWindow {
    width: 400px;
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 30px solid gray;
    background-color: gray;
}

.boxes {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid aliceblue; 
    background-color: white; 
}

.colored {
    background-color: yellow;
}

#divUnderGrid {
    display: flex;
    justify-content: center;
}

#buttonChoose, #buttonReset, #colorMixer, #colorInput {
    margin: 20px;
    background-color:rgb(202, 201, 201); 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    border: 2px solid rgb(140, 117, 196);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}