body {
    text-align: center;
    margin: 40px;
}

#pageBox {
margin: auto;
}

#welcomeBox {
font-family: Courier, monospace;
}

#messageBox {
font-family: Courier, monospace;
font-weight:500;
}

#mainFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

#mainWindow {
    width: 400px;
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 22px solid gray;
    background-color: gray;
    
}

.boxes {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid aliceblue; 
    background-color: white; 
}

.colored {
    background-color: yellow;
}

#divUnderGrid {
    display: flex;
    justify-content: center;
}

#buttonChoose, #buttonReset, #colorMixer, #colorInput {
    margin: 20px;
    background-color:gray; 
    color: white;
    border-radius: 15px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px; 
    border: 2px solid black;
    font-family: Courier, monospace;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

#buttonChoose:hover, #buttonReset:hover, #colorMixer:hover, #colorInput:hover  {
    background-color: rgb(236, 207, 60);
    color: black;
    cursor: pointer;
  }

  @keyframes mymove {
    from {background-color: black;}
    to {background-color: white;}
  }